<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="webform-sample">
		<meta name="author" content="From Students to Student">

        {% if title %}
		<title>{{ title }} - webform</title>
		{% else %}
		<title>Error: title missing</title>
		{% endif %}

		<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<style>
			body {
				padding-top: 7px;
			}
			footer {
				margin-top: 50px;
				padding-top: 20px;
				padding-bottom: 10px;
				background-color: #B9B9B9;
			}
			.text-muted {
				color: #777;
			}
		</style>
    </head>
    <body>
        <div>
            CTC Registration Form:
            <a href="/">webform</a>
			<a href="/results">results</a>
        </div>
		{% block content %}{% endblock %}
		<footer class="footer">
		  <div class="container">
			  <p class="text-muted">This webapp was built as part of a demo for CTC Global Pte. Ltd.</p>
		  </div>
		</footer>
    </body>
</html>
